#cardbookToolbarAddServerButton {
	list-style-image: url("chrome://messenger/skin/icons/address.svg");
}
#cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook-toolbar/skin/synchronize.svg");
}
#cardbookToolbarWriteButton {
	list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}
#cardbookToolbarChatButton {
	list-style-image: url("chrome://messenger/skin/icons/chat.svg");
	-moz-context-properties: fill, fill-opacity, stroke-opacity;
	stroke-opacity: 0;
}
#cardbookToolbarConfigurationButton {
	list-style-image: url("chrome://cardbook-toolbar/skin/prefs.svg");
}
#cardbookToolbarPrintButton {
	list-style-image: url("chrome://messenger/skin/icons/print.svg");
}
#cardbookToolbarComplexSearch {
	list-style-image: url("chrome://cardbook-toolbar/skin/search.svg");
}
#cardbookToolbarAddContactButton {
	list-style-image: url("chrome://messenger/skin/icons/addcontact.svg");
}
#cardbookToolbarAddListButton {
	list-style-image: url("chrome://messenger/skin/icons/addlist.svg");
}
#cardbookToolbarEditButton {
	list-style-image: url("chrome://cardbook-toolbar/skin/edit.svg");
}
#cardbookToolbarRemoveButton {
	list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}
